.App {
  text-align: center;
}
.main {
    font-family: Avenir, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: aquamarine;
    color:cadetblue;
    margin-top: 60px;
    display: flex; 
    flex-direction: row; 
   
    justify-content: center; 
    /* justify-content-center; */
}

